.slide {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; /* Stretch children to fill the container vertically */
    justify-content: center; /* Center children horizontally */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default paddings */
}

.image-container {
    width: 33.3333%; /* One third of the container width, adjust as necessary */
    display: flex; /* Use flexbox for easier alignment */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
}

.image-container img {
    max-width: 100%; /* Max width is the full width of the container */
    max-height: 100vh; /* Max height is the full viewport height */
    object-fit: contain; /* Ensure the image is contained within the frame without being cropped */
    display: flex;
    align-items: center;
    justify-content: center;
}
